@font-face {
  font-family: "Krungthep";
  src: url("~@/assets/fonts/Krungthep/Krungthep.woff2") format("woff2"),
    url("~@/assets/fonts/Krungthep/Krungthep.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@/assets/fonts/OpenSans/OpenSans.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Semibold.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
